name: Reusable ContainifyCI workflow

on:
  workflow_call:

jobs:
  build-go:
    name: Build Go ${{ matrix.runtime }}
    uses: containifyci/engine-ci/.github/workflows/engine-ci-workflow.yml@main
    secrets: inherit
    strategy:
      matrix:
        include:
        - runtime: docker
          is_uploader: true
        - runtime: podman
          is_uploader: false
    permissions:
      contents: write # for checkout
      pull-requests: write # for updating pr
    with:
      dockerhub_user: "containifyci"
      runtime: ${{ matrix.runtime }}
      install_binary: true
      remote_debug: true
      remote_debug_user: "fr12k"
      upload_artifacts: ${{ matrix.is_uploader }}

  integration-test:
    name: Integration Test ubuntu-latest
    needs: build-go
    runs-on: ubuntu-latest
    permissions:
      contents: write # for checkout
      pull-requests: write # for commenting on pr
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Download artifacts
        uses: actions/download-artifact@v8
        with:
          name: binaries

      - name: Run integration tests
        env:
          RUN_INTEGRATION_TESTS: "true"
          CONTAINIFYCI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CONTAINIFYCI_DOCKER_TOKEN: ${{ secrets.CONTAINIFYCI_DOCKER_TOKEN }}
        run: |
          # Move binary to expected location
          # mv ${{ matrix.binary }} containifyci-java-$(go env GOOS)-$(go env GOARCH)
          chmod +x engine-java-$(go env GOOS)-$(go env GOARCH)
          # Run the integration test
          go test -tags=integration -v -timeout 5m integration_test.go
